.fill
  = image_tag 'fix.png', alt: "Fixus logo", class: 'logo'
  .rep
    %h3
      = "Rep ##{@rep.hash_id}"
    .info
      %p
        %span= "Name:   "
        = @rep.name
      %p
        %span= "Email:   "
        = @rep.email
      %p
        %span= "Age:   "
        = @rep.age
      %p
        %span= "School:   "
        = @rep.school
      %p
        %span= "Gender:   "
        = @rep.gender
