.banner
  .big= image_tag 'fixus_icon', alt: "Fixus logo", class: 'fixus'
  .cont
    %h1
      Need a quick fix?
      %br
      We can help!
    %p Get it fixed by experts in record time without ever leaving your house!
    = link_to 'Fix It Now', new_repair_path, class: 'button highlight'

.section
  .left
    = link_to image_tag('fixus_icon', alt: "Fixus logo", class: 'fixus'), '#', class: 'image'
    .cont
      %h2 For Businesses
      %p Lots of info for businesses and such please stuff my stuff with stuff from stuff's way
      = link_to 'Read more', '#'
  .divide
  .right
    = link_to image_tag('fixus_icon', alt: "Fixus logo", class: 'fixus'), '#', class: 'image'
    .cont
      %h2 For Individuals
      %p Lots of info for businesses and such please stuff my stuff with stuff from stuff's way
      = link_to 'Read more', '#'

.testimonials
  %h3 Here's what people have to say about FIXUS
  .testimonial
    = image_tag 'fixus_icon', alt: "Fixus logo", class: 'fixus'
    %p Thank you Fixus for fixing my tab's memory asap
    %span @Ms_maribell via Instagram
  .testimonial
    = image_tag 'fixus_icon', alt: "Fixus logo", class: 'fixus'
    %p Thanks for fixing my laptop and for the lovely laptop pouch
    %span @tj_ via Instagram
  .testimonial
    = image_tag 'fixus_icon', alt: "Fixus logo", class: 'fixus'
    %p Thanks for getting me my files back and fixing my hard drive, the service was excellent.
    %span @pahpee_jay via Instagram
