.poster.indexposter
  .coloroverlay
  .head
    = link_to "Log in", new_user_session_path
  .else
    .image
      = image_tag 'fix.png', alt: "Fixus logo", class: 'logo_icon'
    .text
      .cont
        %h1 Welcome to Fixus
        %p No matter what you've got that needs fixing; phones, laptops, tablets, and more; we can help you fix it. At competitive rates and in record time, you won't ever regret doing busiiness with us.
        .links
          = link_to 'Sign up/Fix your device', new_repair_path, class: "btn light"
          = link_to 'Link for Business', new_repair_path, class: "btn"
          = link_to 'Learn more about us', about_path, class: "btn"






-# .banner
-#   .big= image_tag 'fixus_icon.svg', alt: "Fixus logo", class: 'fixus'
-#   .cont
-#     %h1
-#       Need a quick fix?
-#       %br
-#       We can help!
-#     %p Get it fixed by experts in record time without ever leaving your house!
-#     = link_to 'Fix It Now', new_repair_path, class: 'button highlight'
-#
-# .section
-#   .left
-#     .span.image
-#       = image_tag 'busi.png', alt: "For businesses", class: 'fixus'
-#     .cont
-#       %h2 For Businesses
-#       %p Give your employees the time to focus on more pressing tasks, like meetings and other business chores. We offer you reasonable prices while assuring you of our best professional service at all times.
-#   .divide
-#   .right
-#     .span.image
-#       = image_tag 'indi.png', alt: "For individuals", class: 'fixus'
-#     .cont
-#       %h2 For Individuals
-#       %p We take care of your needs, from repairs of phones, tablets, laptops, to purchase of accessories, to reselling of devices, Fixus is here for you. Join us today, you won't regret it.
-#
-# .testimonials
-#   %h3 Here's what people have to say about FIXUS
-#   .tflex
-#     .testimonial
-#       = image_tag 'ms_maribell.png', alt: "ms_maribell", class: 'fixus'
-#       %p Thank you Fixus for fixing my tab's memory asap
-#       %span @Ms_maribell via Instagram
-#     .testimonial
-#       = image_tag 'tejirii.png', alt: "tejirii", class: 'fixus'
-#       %p Thanks for fixing my laptop and for the lovely laptop pouch
-#       %span @tejirii via Instagram
-#     .testimonial
-#       = image_tag 'pahpee_jay.png', alt: "pahpee_jay", class: 'fixus'
-#       %p Thanks for getting me my files back and fixing my hard drive, the service was excellent.
-#       %span @pahpee_jay via Instagram
