= simple_form_for @repair do |f|
  .form_section
    = f.simple_fields_for :device do |dev_f|
      = dev_f.input :name
      = dev_f.input :color
      = dev_f.input :serial_number
  .form_section
    = f.simple_fields_for :address do |add_f|
      = add_f.input :line_1
      = add_f.input :line_2
      = add_f.input :lga
  .form_section
    = f.input :info
  .actions
    = f.button :submit
