.rsection
  %h2 Repairs
  - if @repairs
    - @repairs.each do |repair|
      .repair
        %h3
          = "Repair##{repair.hash_id}"
          %span
            = repair.awaiting_pick_up? ? "Is" : "Has been"
            = repair.status.humanize
            = repair_status_date(repair)
        .device
          %h3= "Device##{repair.device.id}"
          %p= repair.device.name
          = link_to "Go to device", device_path(repair.device)
        .address
          %h3= "Address##{repair.address.id}"
          %p= repair.address.line_1
          = link_to "Go to address", address_path(repair.address)
        .info
          %p= repair.info
        .status
          %p= repair.status.humanize
  - else
    %p Looks like you ain't got shit bro. Who'd a thunk it?

= will_paginate @repairs
