%h1 View a repair
%p
  City:
  %br
  = @repair.address.line_1
%p
  Device Name:
  %br
  = @repair.device.name
%p
  Extra Info:
  %br
  = @repair.info
%p
  Status:
  %br
  = @repair.status.humanize

= link_to "Pick up", pick_up_repair_path, method: :patch
= link_to "Fix", fix_repair_path, method: :patch
= link_to "Deliver", deliver_repair_path, method: :patch
= link_to "Cancel", cancel_repair_path, method: :patch
