#footer
  .links
    %span#title Features
    = link_to 'Repair a Device', new_repair_path
    = link_to 'Dashboard', user_root_path
    = link_to "Repairs", repair_index_path
    = link_to "Devices", device_index_path
    = link_to "Addresses", address_index_path

  .links
    %span#title Resources
    = link_to "Terms of Service", terms_path
    = link_to "Contact Us", '#'
    = link_to "Help", '#'

  .links
    %span#title Company
    = link_to "About Fixus", '#'
    = link_to "About Crystal Haze", '#'


  #logos
    = image_tag 'fixus_icon.svg', alt: "Fixus logo", class: 'fixus'
    = image_tag 'fixus_icon.svg', alt: "Crystal Haze logo", class: 'crystal_haze'

  #copyright © 2017 Crystal Haze
