#footer
  .section
    %span#title Features
    = link_to "Code review", '#'
    = link_to "Project management", '#'
    = link_to "Community", '#'
    = link_to "Documentation", '#'
    = link_to "Code hosting", '#'

  .section
    %span#title Resources
    = link_to "Contact Fixus", '#'
    = link_to "Help", '#'
    = link_to "Status", '#'
    = link_to "Terms", '#'
    = link_to "Privacy", '#'
    = link_to "Security", '#'
    = link_to "Training", '#'

  .section
    %span#title Community
    = link_to "Personal", '#'
    = link_to "Open source", '#'
    = link_to "For Business", '#'
    = link_to "For Education", '#'
    = link_to "Sponsorships", '#'

  .section
    %span#title Platform
    = link_to "Atom", '#'
    = link_to "Help", '#'
    = link_to "Electron", '#'
    = link_to "GitHub Desktop", '#'
    = link_to "Developers", '#'

  .section
    %span#title Company
    = link_to "About", '#'
    = link_to "Blog", '#'
    = link_to "Customers", '#'
    = link_to "Careers", '#'
    = link_to "Press", '#'
    = link_to "Shop", '#'

  #logos
    = image_tag 'logo_color', alt: "Fixus logo", class: 'fixus'
    = image_tag 'logo_color', alt: "Crystal Haze logo", class: 'crystal_haze'

  #copyright © 2017 Crystal Haze
