#footer
  #logos
    = image_tag 'logo_color', alt: "Fixus logo", class: 'fixus'
    = image_tag 'logo_white', alt: "Crystal Haze logo", class: 'crystal_haze'

  #section
    %span#title Contact
    = link_to "Contact_Us", '#'
    = link_to "Help", '#'
    = link_to "How to Use", '#'
    = link_to "FAQs", '#'
    = link_to "Links to Places", '#'

  #section
    %span#title Contact
    = link_to "Contact_Us", '#'
    = link_to "Help", '#'
    = link_to "How to Use", '#'
    = link_to "FAQs", '#'
    = link_to "Links to Places", '#'

  #section
    %span#title Contact
    = link_to "Contact_Us", '#'
    = link_to "Help", '#'
    = link_to "How to Use", '#'
    = link_to "FAQs", '#'
    = link_to "Links to Places", '#'

  #section
    %span#title Contact
    = link_to "Contact_Us", '#'
    = link_to "Help", '#'
    = link_to "How to Use", '#'
    = link_to "FAQs", '#'
    = link_to "Links to Places", '#'
