#header.cf
  %a{:href => root_path, :class => 'logo'}
    - if mobile_device?
      = image_tag "fixus_icon_white.svg", alt: "Fixus logo"
    - else
      = image_tag "fixus_logo_white.svg", alt: "Fixus logo"

  %li#title Menu
  #nav
    - if person_signed_in?
      = link_to "Repairs", repair_index_path
      = link_to "Devices", device_index_path
      = link_to "Addresses", address_index_path
    - if user_signed_in?
      = link_to "Sign Out", destroy_user_session_path, method: :delete
    - elsif admin_signed_in?
      = link_to "Sign Out", destroy_admin_session_path, method: :delete
    - else
      = link_to 'Repair a Device', new_repair_path
      = link_to "Log in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
