#header
  %a{:href => root_path, :class => 'logo'}
    = image_tag "logo_white", alt: "Fixus logo"

  %li#title Menu
  #nav
    = link_to "Services", '#'
    = link_to "Products", '#'
    = link_to "Log in", '#'
    = link_to "Sign up", '#'
