!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fixus
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if mobile_device?
      = stylesheet_link_tag 'mobile', media: 'all', 'data-turbolinks-track': 'reload'
    - else
      = stylesheet_link_tag 'desktop', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'

    #flash
      - if notice
        %p= notice
      - if alert
        %p alert

    = yield

    = render 'layouts/footer'
