!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'mailer', media: 'all'
    <!--[if mso]>
    <style type=”text/css”>
    .fallback-text {
    font-family: Arial, sans-serif;
    }
    </style>
    <![endif]-->
  %body
    #body
      %table#header
        %tr
          %td.icon
            = link_to image_tag( 'fix.png', alt: "Fixus Icon" ), root_url
          %td.logo
            = image_tag 'fixus_logo_white.svg', alt: "Fixus Logo"
      = yield
      %table#footer
        %tr.logo
          %td
            = image_tag 'fixus_logo_c.svg', alt: "Fixus Logo"
        %tr.links
          %table.social
            %tr.links
              %td= link_to image_tag()
        %tr.text.fallback-text
          %td
            = "Fixus is a service which allows you to order repairs for a variety of electronic devices such as phones, laptops, tablets, ipods and more at competitive prices. "
            = link_to("Click here", new_user_registration_url)
            = " to sign up and get your devices fixed."
        %tr.text.fallback-text
          %td
            = "This message is intended for " + @_message.to.first + "."
